select, input {
    font-size: 16px !important;
}

body {
    font-family: Lato, sans-serif;
    font-size: 14px;
    margin: 1px;
}

select {
    float: right;
    width: 300px;
}

.select-label {
    float: left;
    width: 140px;
    position: relative;
    top: 3px;
}

.details-box {
    outline: 1px solid grey;
    width: 290px;
    padding: 5px;
    margin: 10px 0px;
}

.details-heading {
    margin-bottom: 2px;
}

#meter { width: 160px; }
#repetitions { width: 30px; }
#rhyme_scheme { width: 160px; }

.versifier-output {
    outline: 1px solid lightGrey;
    height: 298px;
    margin-top: 20px;
    padding: 5px;
}
